<div>
    <ul id="menu">
        <li>
            <a [routerLink]="['/']">Home | </a>
        </li>
        <li>
            <a [routerLink]="['/cine']">Cine | </a>
        </li>
        <li>
            <a [routerLink]="['/musica']">Musica | </a>
        </li>
        <li>
            <a [routerLink]="['/numerodoble']">Doble | </a>
        </li>
        <li>
            <a [routerLink]="['/numerodoble/58']">Doble 58 | </a>
        </li>
        <li>
            <a [routerLink]="['/numerodoble/14']">Doble 14 | </a>
        </li>
    </ul>
</div>